<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
  }

  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
  }
  .bold {
    color: midnightblue;
    font-weight: 700;
  }

  form {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
  }

  button {
    margin-top: 10px;
  }
</style>

<% if (user) { %>
<a href="/tasks">View Tasks</a>
<a href="/tasks/new">Add New Tasks</a>
<a href="/auth/sign-out">Sign out</a>

<% } else { %>

<a href="/auth/sign-up">Sign Up</a>
<a href="/auth/sign-in">Sign in</a>

<% } %>
